modules = ["nodejs-20"]

[agent]
expertMode = true

[nix]
packages = ["tree"]

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 81
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 80
